# -------------------------
# FRONTEND: Next.js (React)
# -------------------------
/frontend/public/
/frontend/.gitignore
/frontend/eslint.config.mjs
/frontend/jsconfig.json
/frontend/next.config.mjs
/frontend/package-lock.json
/frontend/package.jsona
/frontend/postcss.config.mjs
/frontend/README.md



# dependencies
/node_modules/
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts







# -------------------------
# BACKEND: FastAPI (Python)
# -------------------------
/__pycache__/
/.env
/__pycache__/
/backend/.pytest_cache/
/backend/.mypy_cache/
/backend/.ruff_cache

# Python junk
*.py[cod]
*.pyo
*.so

# VSCode settings
.vscode/

# MacOS junk
.DS_Store

# Others
.env
*.log
/.venv/
/.idea/
/.vscode/

demo.js
demo2.py
api_endpoints_info.txt
passwd.txt
/cache_local/